@font-face {
    font-family: JetBrainsMono-Regular; 
    src: url(assets/JetBrainsMono-Regular.ttf); 
   }

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.headText{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 36px;
}